---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/Layout.astro";
import ProjectCard from '../components/ProjectCard.astro';
import Hero from "../components/Hero.astro";

const allProjects = await getCollection("projects");
---

<BaseLayout title="Home | Syed Jamal">
  <Hero />

  <section class="mt-12">
    <h2 class="text-3xl font-bold mb-6">Featured Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {allProjects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</BaseLayout>
