---
interface Props {
  title?: string;
  className?: string;
  description?: string;
}

const { title, className = "", description } = Astro.props;

import { ClientRouter } from "astro:transitions";

import SEO from "../components/SEO.astro";
import Navbar from "../components/Navbar.astro";
import Footer from '../components/Footer.astro';

import ThemeToggle from "../components/ThemeToggle.astro";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} />
    <ClientRouter />
    <script is:inline>
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };

      const applyTheme = (theme) => {
        const root = document.documentElement;
        if (theme === "dark") {
          root.classList.add("dark");
        } else {
          root.classList.remove("dark");
        }
        root.style.colorScheme = theme;
      };

      const setTheme = () => {
        const theme = getThemePreference();
        applyTheme(theme);
      };

      setTheme();
      document.addEventListener("astro:after-swap", setTheme);

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (e) => {
          const newTheme = e.matches ? "dark" : "light";
          applyTheme(newTheme);
        });

      window.addEventListener("storage", (e) => {
        if (e.key === "theme") {
          setTheme();
        }
      });
    </script>
  </head>
  <body
    class="antialiased min-h-screen flex flex-col"
  >
    <main>
      <Navbar />
      <div class={className}>
        <slot />
      </div>
      <Footer />
    </main>
    <ThemeToggle />
  </body>
</html>
